/*mobile*/
@media screen and (max-width:600px) {
	.row{
		display:inline;
		width:100%;
		text-align:center;
		justify-content: center;
	}
	
	.card{
		margin-left:auto;
		margin-right:auto;
	}

	.buyIcon{
		transform: scaleX(-1);
		float:right;
		animation:shake 1.2s infinite;
	}

	@keyframes shake{
		0%{
			position:relative;
			top:0px;
			transform:scale(1);
		}
		50%{
			position:relative;
			top:-10px;
			transform:scale(1.1);
		}
		100%{
			position:relative;
			top:0px;
			transform:scale(1);
		}
	}
}

/*laptop*/
@media screen and (min-width:600px){
	.card{
		margin:10px;
	}
	.front{
		display:flex;
	}
	.col-md-6{
		flex:1;
	}
	
	.buyIcon{
	transform: scaleX(-1);
	float:right;
	animation:move 3s infinite;
}

@keyframes move{
	0%{
		opacity:0;
		position:relative;
		right:0%;
	}
	100%{
		opacity:1;
		position:relative;
		right:22%;
	}
}
}

/*title*/
.titles{
	color:rgba(0,0,0,0.7);
}

.subtitles{
	color:rgba(0,0,0,0.5);
}

.container{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical*/
}

.card{
	margin-bottom:15px;
	max-width:300px;
	transition:all 1s;
}

.card:hover{
	transform:scale(1.1);
	background-color:rgba(255,250,205,0.9);
	border-width:3px;
	border-color:rgba(255,246,143,0.9);
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.row{
	padding-left:2%;
	padding-top:2%;
	width:100%;
	overflow:hidden;
	justify-content: center;
	transition:all 1s;
}

/* The switch - the box around the slider */
.switch {
	vertical-align: middle;
	margin:1vw;
	position: relative;
	display: inline-block;
	width: 45px;
	height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff8040;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchItem{
	position: absolute;
    right: 0px;
}



/* modal */
.modal-header{
	border:none !important;
}

.modal-content{
	border:none !important;
	vertical-align: middle;
	background-color:red;
	background: url("../img/bg.jpg") no-repeat left center;
	height: 100%;
	transition:all 1s;
}

.changeBg{
	background-position:right center;
	animation:modalChangeBg 1s;
}

@keyframes modalChangeBg{
	0%{
		background-position:left center;

	}100%{
		background-position:right center;
	}
}

.col-md-6{
	z-index:1;
	vertical-align: middle;
}

.front{
	z-index:3;
	transition:all 1s;
}

.back{
	z-index:4;
	position:relative;
	opacity:1;
	top:-20px;
	right:0px;
	padding:20px;
	width:100%;
	height:150px;
	color:white;
	transition:all 2s;
}

.hide{
	display:none;
	position:relative;
	top:-200px;
	right:-100px;
	opacity:0;
	height:0px;
}

.shrink{
	opacity:0;
	height:0px;
	padding:0px;
	animation:shrinkFront 1.5s;
}

@keyframes shrinkFront{
	0%{
		height:300px;
	}100%{
		height:0px;
	}
}

.col-md-6 img{
	animation:larger 1s;
}

@keyframes larger{
	0%{
		transform:scale(0.1) rotate(-30deg);
	}100%{
		transform:scale(1) rotate(0deg);
	}
}

.col-md-6 center{
	animation:leftIn 1s;
}

@keyframes leftIn{
	0%{
		opacity:0;
		position:relative;
		left:-30px;
	}100%{
		opacity:1;
		position:relative;
		left:0px;
	}
}

/* Underline From Right */
.hvr-underline-from-right {
	margin:5px;
	color:white !important;
	background:rgba(153,50,204,0.6);
	border-radius:15%;
	padding:10px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 100%;
	right: 0;
	bottom: 0;
	background:rgba(153,50,204,0.6);
	height: 4px;
	-webkit-transition-property: left;
	transition-property: left;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
	left: 0;
}

.hvr-underline-from-right:hover{
	color:rgb(153,50,204) !important;
	background:transparent;
	cursor:pointer;	
}

/* Bubble Float Top */
.hvr-bubble-float-top {
	margin:10px;
	color:black !important;
	background:#e1e1e1;
	border-radius:15%;
	padding:5px 10px 5px 10px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-top:hover, .hvr-bubble-float-top:focus, .hvr-bubble-float-top:active {
  -webkit-transform: translateY(9px);
  transform: translateY(9px);
  cursor:pointer;	
}
.hvr-bubble-float-top:hover:before, .hvr-bubble-float-top:focus:before, .hvr-bubble-float-top:active:before {
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px);
  cursor:pointer;
}