.titles{
	background-color:#E0E0E0;
	padding-bottom:3%;
	padding-top:3%;
}

.container{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical*/
}

.card{
	max-width: 40rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.modal-content{
	
}

.textInBox{
	padding: 1vw;
	background-color: rgba(255,255,0,0.3);
}
