/*mobile*/
@media screen and (max-width:600px) {
	.row{
		display:inline;
		width:100%;
		text-align:center;
		justify-content: center;
	}
	
	.card{
		margin-left:auto;
		margin-right:auto;
	}
	
	.box{
		margin-left:30px;
	}
	
	.cb{
		position:relative;
		left:10px;
	}
	.moveRight{
		transform:translateX(200px);
	}
}

/*laptop*/
@media screen and (min-width:600px){
	.card{
		margin:10px;
	}
	.moveRight{
		transform:translateX(180px);
	}
}

.titles{
	/* background-color:#E0E0E0; */
	padding-bottom:3%;
	padding-top:3%;
	z-index:1;
}

.container{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical*/
}

.card{
	margin-bottom:15px;
	width:300px;
	transition:all 1s;
	z-index:1;
	border:transparent;
}

.cit{
	background-color:transparent;
	border-top-left-radius:3%;
	border-top-right-radius:3%;
	background-size:cover;
	background-position:center center;
	height:280px !important;
}

/* Curl Top Right */
.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-right:hover:before, .hvr-curl-top-right:focus:before, .hvr-curl-top-right:active:before {
  width: 25px;
  height: 25px;
}

.cb{
	clip-path: polygon(100% 0%, 82% 50%, 100% 100%, 0 100%, 0 49%, 0 0);
	position:relative;
	top:-90px;
	background-color: #c4e1ff;
	width: 130px;
	padding:5px;
	text-align:left;
	z-index:2;
	transition:all 1.5s;
}

.cb .card-title{
	color:white;
}

.card:hover{
	cursor:pointer;
}

.box {
	color:white;
	height: 0px;
	width: 0px;
	position:relative;
	top:-170px;
	left:10px;
	display:flex;
	padding-left:10px;
}

.box h5{
  align-self: flex-end;
}

.space{
	max-height:300px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
  background-color: rgba(255,181,181,0.9);
  height:90px;
  width: 250px;
  z-index:0;
}
  
.lift{
	transform:rotate(3deg) translateY(-20%);
}

.row{
	padding-left:2%;
	padding-top:2%;
	width:100%;
	overflow:hidden;
	justify-content: center;
}

.modal-content{
	background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url("../img/bgRed.jpg") no-repeat center center;
}

.moreBtn{
	animation:blink 2s infinite;
}

.moreBtn:hover{
	cursor:pointer;
	transform:scale(1.1);
}

@keyframes blink{
	0%{
		opacity:0;
		position:relative;
		left: 0px;
	}
	50%{
		opacity:1;
		position:relative;
		left: 25px;
	}
	100%{
		opacity:0;
		position:relative;
		left: 50px;
	}
}

.modal-body{
	width:50%;
}

/* vertical-align modal*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.logo{
	width:80%;
	animation:drop 2s;
}

@keyframes drop{
	0%{
		opacity:0;
		position:relative;
		top: -30px;
	}100%{
		opacity:1;
		position:relative;
		top: 0px;
	}
}

.textBreak{
	text-align: center;
	animation:break 1s;
}

@keyframes break{
	0%{
		position:relative;
		left: -30px;
	}70%{
		position:relative;
		left: 10px;
		transform:rotate(2deg);
	}100%{
		position:relative;
		left: 0px;
		transform:rotate(-2deg);
	}
}

.egg{
	width:30px;
	animation:shake 0.8s infinite;
	transition: 0.5s ease;
}

@keyframes shake{
	0%,25%{
		transform:rotate(-15deg);
	}50%{
		transform:rotate(15deg);
	}75%,100%{
		transform:rotate(-15deg);
	}
}

.egg:active{
	position:relative;
	top:-20px;
}

.eggdown,.eggup{
	width:30px;
	position:relative;
	top:-10px;
	transition:0.3s ease;
}

.hide{
	display:none;
}

/* 上下蛋殼之動畫 */
.upAnimate{
	transform:translateY(10px);
}

.downAnimate{
	animation:left 1s;
	top:-5px;
}

@keyframes left{
	0%,25%{
		transform:rotate(0deg);
	}100%{
		transform:rotate(-40deg);
	}
}
