html {
	height: 100%;
}

body {
	height: 100%;
}

.homepage {
	padding: 0;
	background: url("../img/home.jpg") no-repeat center center;
	height: 100%;
	background-size: cover;
}

.btn-row {
	margin-right: 0;
	margin-left: 0;
	padding-top: 80vh;
	font-family: "微軟正黑體", "Microsoft JhengHei","細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
}