html {
	height: 100%;
}

body {
	height: 100%;
}

.homepage {
	padding: 0;
	background: url("../img/home.jpg") no-repeat center center;
	height: 100%;
	background-size: cover;
}

.btn-row {
	margin-right: 0;
	margin-left: 0;
	padding-top: 80vh;
}