html {
	height: 100%;
}

body {
	height: 100%;
}

#home-bg {
	background: url("../img/home-bg.png") no-repeat center center;
	/* background: no-repeat center center; */
	background-size: cover;

	padding: 0;
	height: 100%;
    top: 0px;
    left: 0px;
}

#home-word {
	background: url("../img/home-word.png") no-repeat;
	/* background: no-repeat; */
	background-size: cover;

	/* 滿版 */
	background-position: center -10vh;
	/* 非滿版 */
	/* background-position: center -15vh; */

	padding: 0;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	display: none;
	/* animation: fade-in 5s; */
}

#but-space {
	position: absolute;
	top: 75vh;
}

.btn-row {
	margin-right: 0;
	margin-left: 0;
}

#start {
	display: none;
	opacity: 0.7;
}

#btn-text {
	font-family: "微軟正黑體", "Microsoft JhengHei","細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
	font-weight: 900 !important;
}

#sky-land-bg {
	background-color: white;
	position: relative;
}

.intro-text {
	font-family: "微軟正黑體", "Microsoft JhengHei","細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
	font-size: 2.5vh;
	font-weight: 900;
	color: #272727;
}

#concept-space {
	margin-top: 8vh;
	margin-bottom: 10vh;
}

#concept-text {
	margin-top: 8vh;
	margin-bottom: 5vh;
	font-family: "微軟正黑體", "Microsoft JhengHei","細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
	font-weight: 900;
	color: #272727;
}

.hideme {
	opacity: 0;
}

.transition {
	transform: scale(1.2);
}

.enlarge {
	transition: .4s ease-in-out;
}

/* .enlarge:hover {
	-webkit-animation: big ease-in-out;
	-o-animation: big ease-in-out;
	animation: big ease-in-out;
}

@keyframes big {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
} */

@media screen and (min-width: 0px) and (max-width: 600px) {
	#home-word {
		background-size: 250% 80%;
		/* 非滿版 */
		background-position: center -5vh;
	}
	#btn-text {
		font-size: 2.2vh;
	}
	#but-space {
		top: 70vh;
	}
	#concept-space {
		margin-top: 0vh;
	}

	/* 非滿版 */
/* 	html {
		height: 85%;
	}

	body {
		height: 85%;
	} */
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  border: 0;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  /* color: #8e00f2; */
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}