html {
	height: 100%;
}

body {
	height: 100%;
}

.remindPage {
	padding: 0;
	height: 100%;
	background-size: cover;
}

.bgRed {
	background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url("../img/bgRed.jpg") no-repeat center center;
	height: 100%;
	background-size: cover;
}

.remindRow {
	margin-right: 0;
	margin-left: 0;
	padding-top: 25vh;
}

.remind-text {
	font-size: 25px;
	font-weight: 900;
	font-family: "微軟正黑體", "Microsoft JhengHei","細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
	color: #272727;
	/* margin-bottom: 2px; */
}

#news-text {
	font-size: 20px;
	font-weight: 900;
	font-family: "微軟正黑體", "Microsoft JhengHei","細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
	color: #5b5b5b;	
}

#draw-card:hover, 
#draw-discount:hover {
	color: red;
	cursor: pointer;
}