/* mobile */
@media screen and (max-width:600px){
	#laptop{
		display:none;
	}
	.row.content{
		margin-left:0px !important;
		height:100vh;
	}
	.context{
		padding-left:10px;
		padding-right:10px;
	}
	.col-3{
		background-color:#CCABE9;
		padding-right:0px !important;
		padding-left:0px !important;
	}
	.list-group-item{
		padding-left:15px !important;
		height:100px;
		background-color:transparent;
	}
	.description{
		position:relative;
		left: -85px;
		width: 80px;
		transition:all 0.5s;
	}
	.img-circle{
		position:relative;
		z-index:2;
		transition:all 0.5s;
	}
	.hideImg{
		visibility:hidden;
		height:0px;
		animation:slideLeft 1s;
	}
	@keyframes slideLeft{
		0%{
			visibility:visible;
			opacity:1;
			position:relative;
			top:-55px;
			left:0px;
		}100%{
			visibility:hidden;
			opacity:0;
			position:relative;
			top:-55px;
			left:-100px;
		}
	}
	.hidescript{
		visibility:hidden;
		height:0px;
		animation:slideRight 1s; 
	}
	@keyframes slideRight{
		0%{
			visibility:visible;
			opacity:1;
			position:relative;
			left:-100px;
		}100%{
			visibility:hidden;
			opacity:0;
			position:relative;
			left:-50px;
		}
	}
}

/* laptop */
@media screen and (min-width:600px){
	#mobile{
		display:none;
	}
	.list-group-item{
		height:100px;
		transition:background-color 0s;
		transition:height 0.5s;
	}
	.row.content{
		margin-left:0px !important;
		margin-right:0px !important;
		width:100%;
	}
}

/* title */
.titles{
	color:rgba(0,0,0,0.7);
	/* background-color:#E0E0E0;
	padding-bottom:3%;
	padding-top:3%; */
}

.subtitles{
	color:rgba(0,0,0,0.5);
}

.container{
	/* display: flex;
	justify-content: center; 
	align-items: center; */
}

.row{
	/* width: 100vw; */
}
/* sidebar */
.col-4{
	padding-right:0px !important;
	padding-left:0px !important;
	background-color:#CCABE9;
}

.list-group-item{
	z-index:2;
	background-color:transparent !important;
	color:white !important;
	border:none !important;
	margin-bottom:0px !important;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #AD5FFC;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.img-circle {
    border-radius: 50%;
	float:left;
	width:60px;
	height:60px;
	background-color:white;
	transition:all 1.5s;
}

.description{
	margin-left:80px;
	transition:all 1.5s;
}

.movex{
	transform:translateX(300%);
	animation: fade 1.5s;
	opacity: 0;
}

.moveLeft{
	transform:translateX(-80px);
}

.DesNa{
	position:relative;
	top:10px;
	transition:all 1s;
}

.DesDe{
	opacity:0;
	height:0px;
	transition:all 1s;
}

.show{
	opacity:1;
	/*height:100px;*/
}


/* right-side content*/ 
.context{
	height:100vh;
	padding-top:30px;
	align-items: center;
	background-attachment: fixed;
	background-size:cover !important;
}

.col-8,.col-9{
	padding-left:0px !important;
	padding-right:0px !important;	
	/*background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/bgRed.jpg") center center;*/
	background-attachment: fixed;
	background-size:cover !important;
}

.rightImg{
	opacity:1;
	width:100px;
	animation:shrink 1s;
	animation:jump 1s infinite;
}

@keyframes shrink{
	0%{
		opacity:0;
		width:150px;
	}100%{
		opacity:1;
		width:100px;
	}
}

@keyframes blink{
	0%{
		width:100px;
	}20%{
		width:100px;
		transform:rotate(-3deg);
	}30%{
		width:100px;
	}
}

.rightImg:hover{
	animation:blink 0.1s infinite;
}

@keyframes jump{
	0%{
		position:relative;
		top:0px;
	}20%{
		position:relative;
		top:-10px;
	}
}

.word{
	animation:drop 2s;
}

@keyframes drop{
	0%{
		opacity:0;
		position:relative;
		top:-100px;
	}100%{
		opacity:1;
		position:relative;
		top:0px;
	}
}

#right1{
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/sofree.jpg");
	background-attachment: fixed;
}

#right2{
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/nutBg.jpg");
	background-attachment: fixed;
}

#right3{
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/coconut.jpg");
	background-attachment: fixed;
}


#right4{
	
	background-attachment: fixed;
}


@keyframes fade{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
