/* mobile */
@media screen and (max-width:600px){
	#laptop{
		display:none;
	}
	.row.content{
		margin-left:0px !important;
		height:100vh;
	}
	.context{
		padding-left:10px;
		padding-right:10px;
	}
	.col-3{
		background-color:rgba(0,0,0,0.5);
		padding-right:0px !important;
		padding-left:0px !important;
	}
	.list-group-item{
		padding-left:15px !important;
		height:100px;
		background-color:transparent;
	}
	.description{
		position:relative;
		left: -85px;
		width: 80px;
		transition:all 0.5s;
	}
	.img-circle{
		position:relative;
		z-index:2;
		transition:all 0.5s;
	}
	.hideImg{
		visibility:hidden;
		height:0px;
		animation:slideLeft 1s;
	}
	@keyframes slideLeft{
		0%{
			visibility:visible;
			opacity:1;
			position:relative;
			top:-55px;
			left:0px;
		}100%{
			visibility:hidden;
			opacity:0;
			position:relative;
			top:-55px;
			left:-100px;
		}
	}
	.hidescript{
		visibility:hidden;
		height:0px;
		/* animation:slideRight 1s; */
	}
	@keyframes slideRight{
		0%{
			visibility:visible;
			opacity:1;
			position:relative;
			left:-100px;
		}100%{
			visibility:hidden;
			opacity:0;
			position:relative;
			left:-50px;
		}
	}
}

/* laptop */
@media screen and (min-width:600px){
	#mobile{
		display:none;
	}
	.list-group-item:hover{
		height:120px;
		background-color:rgba(0,0,0,0.9) !important;
	}
	.list-group-item{
		height:100px;
		transition:background-color 0s;
		transition:height 0.5s;
	}
}

/* title */
.titles{
	color:rgba(0,0,0,0.7);
	/* background-color:#E0E0E0;
	padding-bottom:3%;
	padding-top:3%; */
}

.subtitles{
	color:rgba(0,0,0,0.5);
}

.container{
	/* display: flex;
	justify-content: center; 
	align-items: center; */
}

.row{
	/* width: 100vw; */
}
/* sidebar */
.col-4{
	padding-right:0px !important;
	background-color:rgba(0,0,0,0.5);
}

.list-group-item{
	z-index:2;
	background-color:transparent !important;
	color:white !important;
	border:none !important;
	margin-bottom:0px !important;
}

.img-circle {
    border-radius: 50%;
	float:left;
	width:60px;
	height:60px;
	background-color:white;
	transition:all 1.5s;
}

.description{
	margin-left:80px;
	transition:all 1.5s;
}

.movex{
	transform:translateX(300%);
	animation: fade 1.5s;
	opacity: 0;
}

.moveLeft{
	transform:translateX(-80px);
}

.DesNa{
	position:relative;
	top:10px;
	transition:all 1s;
}

.DesDe{
	opacity:0;
	height:0px;
	transition:all 1s;
}

.show{
	opacity:1;
	height:100px;
}

.active{
	height: 120px;
}

/* right-side content*/ 
.context{
	height:100vh;
	padding-top:30px;
	align-items: center;
	background-attachment: fixed;
	background-size:cover !important;
}

.col-8,.col-9{
	padding-left:0px !important;
	padding-right:0px !important;	
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/bgRed.jpg") center;
	/* background-attachment: fixed; */
	background-size:cover !important;
}

.rightImg{
	opacity:1;
	width:100px;
	animation:shrink 1s;
}

@keyframes shrink{
	0%{
		opacity:0;
		width:150px;
	}100%{
		opacity:1;
		width:100px;
	}
}

.word{
	animation:drop 2s;
}

@keyframes drop{
	0%{
		opacity:0;
		position:relative;
		top:-100px;
	}100%{
		opacity:1;
		position:relative;
		top:0px;
	}
}

#right1{
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/sofree.jpg");
	background-attachment: fixed;
}

#right2{
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/nutBg.jpg");
	background-attachment: fixed;
}

#right3{
	background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7)), url("../img/coconut.jpg");
	background-attachment: fixed;
}


#right4{
	
	background-attachment: fixed;
}


@keyframes fade{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
