/*mobile*/
@media screen and (max-width:600px) {
	.row{
		margin:0px !important;
		display:inline;
		width:100%;
		text-align:center;
		justify-content: center;
	}
	
	.cardInRow{
		margin-left:auto;
		margin-right:auto;
	}
	.tag{
		position:relative;
		left:-15px;
		bottom:22vh;
	}
	.triangle{
		position:relative;
		left:-15px;
		bottom:22vh;
	}
}

/*laptop*/
@media screen and (min-width:600px){
	.card{
		margin:20px;
	}
	.tag{
		position:relative;
		left:-5px;
		bottom:40%;
	}
	.triangle{
		position:relative;
		left:-5px;
		bottom:40%;
	}
}

.titles{
/* 	background-color:#E0E0E0;
	padding-bottom:3%;
	padding-top:3%; */
	color: rgba(0,0,0,0.7);
}

.subtitles{
	color: rgba(0,0,0,0.5);
}

.container{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical*/
}

.card{
	border:none !important;
	z-index:2;
	margin-bottom:15px;
	width:300px;
	height:300px;
	/* transition:all 1s; */
	background-size:cover;
}

.cardInRow{	
	background-size:cover;
	max-height:350px;
}

.card:hover{
	transform: scale(1.1, 1.1);
}

.triangle{
	z-index:0;
	width:50px;
	height:50px;
	background-color:rgba(32,178,170,1);
	-webkit-clip-path:polygon(0% 100%, 100%  0%,100% 100%);
}

.tag{
	z-index:5;
	padding:5px;
	width:200px;
	background-color:rgba(0,206,209,0.8);
	color:white;
}

.row{
	display:flex;
	padding-left:2%;
	padding-top:2%;
	width:100%;
	overflow:hidden;
	justify-content: center;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.modal-content{
	background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url("../img/bgRed.jpg") no-repeat center center;
}

.modal-body{
	animation:leftIn 2s;
}

@keyframes leftIn{
	0%{
		position:relative;
		left:-50px;
		opacity:0;
	}100%{
		position:relative;
		left:0px;
		opacity:1;
	}
}

/* egg animation */
.egg{
	width:30px;
	animation:shake 0.8s infinite;
	transition: 0.5s ease;
}

@keyframes shake{
	0%,25%{
		transform:rotate(-15deg);
	}50%{
		transform:rotate(15deg);
	}75%,100%{
		transform:rotate(-15deg);
	}
}

.egg:active{
	position:relative;
	top:-20px;
}

.eggdown,.eggup{
	width:30px;
	position:relative;
	top:-10px;
	transition:0.3s ease;
}

.hide{
	display:none;
}

/* 上下蛋殼之動畫 */
.upAnimate{
	transform:translateY(10px);
}

.downAnimate{
	animation:left 1s;
	top:-5px;
}

@keyframes left{
	0%,25%{
		transform:rotate(0deg);
	}100%{
		transform:rotate(-40deg);
	}
}

/* vertical-align modal*/
/* .modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
} */