<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- my css -->
  <link rel="stylesheet" type="text/css" href="../css/homepage.css">
  <title>2018 IM Night!</title>
</head>

<body>

  <!-- 主頁部分 -->
  <div class="container-fluid" id="home-bg"></div>
  <div class="container-fluid" id="home-word">
    <div class="row justify-content-center btn-row">
      <button type="button" class="btn btn-secondary col-8 col-sm-6 col-xl-3" style="font-size: 2.3vh;">現在開始，牽起我們的緣分</button>
    </div>
  </div>

  <div class="container py-5" id="sky-land-bg">
    <div class="row justify-content-around">
      <div class="col-10 col-md-5 col-xl-3">
        <img src="../img/people.jpg" alt="人緣" class="img-fluid">
        <div class="intro-text">增加對於資管系的知識：系上同學能藉由提供本系小常識或是一些程式語言學習資源等方式，增加自己對本系的了解並互相交流。隨著資訊科技日漸成為主流，外系有興趣的同學也能透過我們的宣傳，得到對他們而言有趣且有用的知識，同時增加資管系的認識。</div>
      </div>
      <div class="col-10 col-md-5 col-xl-3">
        <img src="../img/land.jpg" alt="地緣" class="img-fluid">
        <div class="intro-text">增加和系上人的認識：資管系組成最重要的除了本身領域的知識之外，最重要的是人。而由資管系起家的Dcard最大的賣點就是，牽起了人與人之間的緣分，因此我們這次之夜也希望透過牽起之夜表演者甚至是所有人，與彼此之間的緣分，讓觀眾更認識我們。</div>
      </div>
      <div class="col-10 col-md-5 col-xl-3">
        <img src="../img/sky.jpg" alt="天緣" class="img-fluid">
        <div class="intro-text">增加和周遭商家的緣分：每天中午最大的煩惱就是…今天午餐吃什麼？我們將透過與附近商家合作，推出優惠券的方式，牽起同學們與台大在地的緣分。</div>        
      </div>
    </div>
  </div>

  <div class="container py-4" id="concept-space">
    <div class="row justify-content-around">
      <div class="col-10 col-md-5">
        <h2 id="concept-text">
          之夜理念<br><br>
          <small class="text-muted">這是範例說明文字這是範例說明文字這是範例說明文字這是範例說明文字這是範例說明文字這是範例說明文字</small>
        </h2>
      </div>
      <div class="col-10 col-md-5">
        <img src="../img/visual.png" alt="之夜主視覺圖" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- 主頁部分結束 -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>