<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- my css -->
  <link rel="stylesheet" type="text/css" href="../css/menuPage.css">
  <title>2018 IM Night!</title>
</head>

<body>
  <!-- 主頁部分 -->
  <div class="container-fluid" id="menuPage">
    <div class="bgRed">

      <div class="row justify-content-center pt-5 pb-4 no-marg">
        <div class="col-10 col-sm-4" style="opacity: 0.7">
          <h1 class="text-center jh">遊戲規則</h1>
          <h5 class="text-center jh text-muted">原則很簡單，累積點數抽大獎</h3>
        </div>
      </div>

      <div class="row justify-content-center no-marg">
          <div class="col-8 col-md-4 col-xl-2 my-3">
            <div class="card text-center rule-card">
              <div class="card-body">
                <h5 class="card-title jh" style="font-size: 3vh;">累積點數方式</h5>
                <h6 class="jh text-muted lh">閱讀每日文章<br>領取每日優惠券<br>抽每日資管人<br>以及額外的任務</h6>      
              </div>
            </div>
          </div>
          <div class="col-8 col-md-4 col-xl-2 my-3">
            <div class="card text-center rule-card">
              <div class="card-body">
                <h5 class="card-title jh" style="font-size: 3vh;">獎品</h5>          
                <h6 class="jh text-muted lh">之夜當天依照累積點數，以一點為一張摸彩券的形式，玩家爭取越多點數來下注在想要的獎品上。<br>不定期活動抽獎<br>可每日領取好康優惠券</h6>      
              </div>
            </div>
          </div>
      </div>

      <div class="row justify-content-center my-4 no-marg">
        <div class="col-6 col-md-3 col-xl-2"><img src="../img/people.png" alt="人緣" class="img-fluid"></div>
        <div class="col-6 col-md-3 col-xl-2"><img src="../img/sky.png" alt="天緣" class="img-fluid"></div>
        <div class="col-6 col-md-3 col-xl-2"><img src="../img/land.png" alt="地緣" class="img-fluid"></div>
      </div>

    </div>
  </div>
  <!-- 主頁部分結束 -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>