<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- my css -->
  <link rel="stylesheet" type="text/css" href="../css/remindPage.css">
  <title>2018 IM Night!</title>
</head>

<body>
  <!-- 主頁部分 -->
  <div class="container-fluid remindPage">
    <div class="bgRed">
      <div class="row justify-content-center remindRow">
        
        <div id="mainContext">
          <div class="col-10 col-sm-4" style="opacity: 0.8">
            <p class="text-center px-5 remind-text">提醒</p>
            <p class="text-center px-5 remind-text">您今日尚未 <a id="draw-card" data-toggle="tooltip" title="抽卡！">抽卡</a> 及 <a id="draw-discount" data-toggle="tooltip" title="抽優惠！">領取每日優惠</a></p>
            <br>
            <br>
            <p class="text-center px-5 remind-text">最新消息</p>
            <div class="row justify-content-center">
              <div class="col-10 text-center">
                <ol id="news-text">
                  <li>News 1</li>
                  <li>News 2</li>
                  <li>News 3</li>
                  <li>News 4</li>
                  <li>News 5</li>
                </ol>     
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- 主頁部分結束 -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>