<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1, maximum-scale = 1" />
	
	<!--fontAwesome-->
	<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<!-- <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-social.css">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="../css/tmplt.css">
	<title>2018 IM Night!</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
	    <div class="navbar-brand jh" id="nav-btn" onclick="loadPage('menuPage')">2018 IM Night</div>
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarResponsive">
	      	<ul class="navbar-nav navbar-sidenav jh" id="exampleAccordion">
		        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sky">
		            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSky" data-parent="#exampleAccordion">
			            <!-- <i class="fa fa-fw fa-wrench"></i> -->
			            <span class="nav-link-text">天緣</span>
			            <i class="fa fa-fw fa-angle-down float-right mt-1"></i>
		          	</a>
		          	<ul class="sidenav-second-level collapse" id="collapseSky">
			            <li>
			              <a href="#" onclick="loadPage('storyhouse')">IM 故事館</a>
			              <a href="#" onclick="loadPage('course')">課程與學習資源</a>
			            </li>
		          	</ul>
		        </li>

	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Land">
		            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseLand" data-parent="#exampleAccordion">
			            <!-- <i class="fa fa-fw fa-wrench"></i> -->
			            <span class="nav-link-text">地緣</span>
			            <i class="fa fa-fw fa-angle-down float-right mt-1"></i>
		          	</a>
		          	<ul class="sidenav-second-level collapse" id="collapseLand">
			            <li>
			              <a href="#" onclick="loadPage('couponList')">優惠卷列表</a>
			            </li>
			            <li>
			              <a href="#" onclick="loadPage('shop')">商家列表</a>
			            </li>
		          	</ul>
		        </li>
				
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="People">
		            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePeople" data-parent="#exampleAccordion">
			            <!-- <i class="fa fa-fw fa-wrench"></i> -->
			            <span class="nav-link-text">人緣</span>
			            <i class="fa fa-fw fa-angle-down float-right mt-1"></i>
		          	</a>
		          	<ul class="sidenav-second-level collapse" id="collapsePeople">
			            <li>
			                <a href="#" onclick="loadPage('IM_people')">資管人</a>
			            </li>
			            <li>
			              	<a href="#">聊天室</a>
			            </li>
			            <li>
			              	<a href="#" onclick="loadPage('show_intro')">表演介紹</a>
			            </li>
		          	</ul>
		        </li>
	      	</ul>

	     	<ul class="navbar-nav ml-auto jh">
	        	<li class="nav-item" style="margin-right:100px;">
		          	<span class="navbar-text">
		          		您尚未登入
		          	</span>
		        </li>
	        	<li class="nav-item">
		          	<a class="nav-link">
		            	關於我們
		        	</a>
		        </li>
	        	<li class="nav-item">
		          	<a class="nav-link">
		            	聯繫我們
		        	</a>
		        </li>
		        <li class="nav-item">
		          	<a class="nav-link">
		            	Logout
		        	</a>
		        </li>
	      	</ul>
	    </div>
  	</nav>

	<div class="content-wrapper">
		<div class="container main-content">
		<!-- put content here -->
		
		</div>
	</div>
	
	<!-- for jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
 	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
	<!-- for bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
	<!-- for ../js scripts -->
	<script src="../js/vue.min.js"></script>
	<script src="../js/fontawesome-all.js"></script>
	<script src="../js/tmplt.js"></script>

</body>
</html>
